<div class="sidebar">
    <div class="sidebar__container">
        <div class="sidebar__container__img">
<img src="../../../assets/moneytolia-fly.png" alt="">
</div>

<ul>
    <li>
        <a href="campaignsList">Kampanya Listesi</a>
    </li>
    <li>
<a  href="createCampaign">Kampanya Oluştur</a>

    </li>
</ul>
</div>
</div>
<div class="sidebar__mobile">
    <div class="sidebar__container">
        <div class="sidebar__container__img">
<img src="../../../assets/moneytolia-fly.png" alt="">
</div>

<ul>
    <li>
        <a href="campaignsList">Kampanya Listesi</a>
    </li>
    <li>
<a  href="createCampaign">Kampanya Oluştur</a>

    </li>
</ul>
</div>
</div>