
.campaignList__container{
    margin-top:30px;
    position: relative;
    display:flex;
    width: 100%;
    justify-content: center;
}
.campaignList__element{
    border:1px solid #eee;
    margin-top:10px;
    display:flex;
    width:100%;

}
.campaignList__element__right{
    display:flex;
    flex-direction: column;
    width:100%;
    padding-bottom:10px;
}
.campaignList__element__point{
    border-right:1px solid #eee;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.campaignList__element__heading{
    display:flex;
    flex-direction: column;
}
.campaignList__element__heading h2{
    padding-left:5px;
    padding-top:5px;
}
.campaignList__element__heading p{
    padding-left:10px;
}
.btn{
    border-radius: 50%;
    border:2px solid black;
    padding:5px 10px;
    background-color: white;
}
.campaignList__element__btn--right button{
    padding:5px 10px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
    border:1px solid #eee;
}
.campaignList__element__btn{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    padding-top:10px;
}
.popup{
    display:block !important;
    position: absolute;
    left:35%;
    top:10%;
    z-index: 1000;
    width:30%;
    height: 50vh;
    background-color: #eee;
    padding:20px;


}
.popup__form svg{
    position: absolute;
    right:-17px;
    top:-16px;
    cursor: pointer;
}
.popup__form input{
    padding:5px;
    border-radius: 5px;
    border:1px solid #eee;
}
.popup__form{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;


}
.form__search{
    position: relative;
    width:100%;
    margin-right:20px;
}
.search__container{
    width:100%;
    display:flex;
    align-items:center;
    margin-bottom:20px;
}
.search__container select{
    border:1px solid #eee;
    padding:2px;
}
.form__search svg{
    position:absolute;
    top:3px;
    right:5px;
    display:flex;
    align-items: center;
    
}
.form__search div p{
    color:rgb(150, 150, 150);
    padding-left:5px;
}
.form__search input{
    padding:5px 0;
    border-radius: 10px;
    border:1px solid #eee;
    width:100%;
    text-indent: 10px;
}
.form__search input:focus{
    outline:none;
}
.display-none{
    display:none;
}
.popup__form button{
    padding:5px;
    background-color: white;
    border:1px solid black;
    
}

.campaignList__element__date{
    align-self: flex-end;
    padding-right:10px;
    padding-top:10px;
}
.campaignList{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; width:30%;
}
@media (max-width:767px){
    .campaignList{
        width:95% !important;
    }
    .popup{
        left:0;
        width:100%;
        top:0;
        z-index: 1000;
        height: 50vh;
        background-color: #eee;
        padding:20px;
        height: 70vh;
    
    }
}